.App {
  text-align: center;
}

.App-logo {
  display: inline-block;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px 25%;
  color: white;
  //border: 1px solid black;
}

.App-title {
  display: inline-block;
}

.Card {
  display: inline-block;
  height: 300px;
}

/*.Container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}*/


